@charset "utf-8";
/* CGV PJ 메인 페이지 CSS - main.css */

/* 리셋 css 불러오기 */
@import url(./reset.css);
@import url(./core.css);
body {
  background-color: black;
}
/* 공사중 표시 */
body * {
  /* outline: 두 종 색; */
  /* outline: 2px dashed yellow; */
}
/* 공통 클래스 */
/* 파트 공통 */
.part {
  /* 최대크기 이하면 auto전환 */
  max-width: 1200px;
  /* 중앙정렬 마영오 */
  margin: 0 auto;
}
/* 1-1. 타이틀 */
.tit {
  font-family: "Jua", sans-serif;
  font-size: 40px;
  color: aquamarine;
  line-height: 80px;
  text-align: center;
  /* 글자 글로우 효과 */
  text-shadow: 0 0 4px aqua;
  /* 애니메이션 호출 */
  animation: tit-ani 1s ease-in infinite alternate;
}
/* 타이틀 애니 키프레임 */
@keyframes tit-ani{
  to{
    text-shadow: 0 0 12px aqua;
  }
}
/********************************************* 1. 상단영역 *********************************************/
.top-area {
  position: relative;
  /* 부모자격 - .gnb */
  height: 80px;
  /* 배경이미지 */
  background: url(../images/curtain.jpg) repeat-x;
}

/* 1-2. gnb 메뉴 */
.gnb {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.gnb ul {
  /* 플렉스 박스 */
  font-family: "Jua", sans-serif;
  font-size: 2rem;
  display: flex;
  gap: 0 2rem;
}
/*  상위 li */
.gnb>ul>li{
  position: relative;
  /* 부모 자격 - .smenu */
  /* 가상요소 사이에 공간이 생겨 오버시 smenu가 사라져서 패딩을 줌 (하위메뉴와 연결되게 함)*/
  padding-bottom: 10px;
}
/* 서브메뉴 */
.smenu{
  position: absolute;
  /* 가운데 위치 주기 위해 left, transform 사용 */
  top: 40px;
  left: 50%;
  transform: translate(-50%);
  width: 160px;
  /* outline: 2px solid yellow; */
  /* box-shadow: 0 0 5px #fff; */
  /* 모든 외곽선에 그림자(글로우)효과를 주기위해, 가상요소 부분도 같이 glow 효과 들어감 */
  filter: drop-shadow(0 0 5px #fff);
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 3px;
  background: url(../images/bg_smenu.png) no-repeat center/cover;  
  /* 처음에 안보임 */
  display: none;
}
/* 상위메뉴 오버시 서브보이기 */
.gnb ul>li:hover .smenu{
  display: block;
}
/* 가상요소로 삼각형 만들기 */
.smenu::before{
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 15px;
  background-color: #303030;
  /* 클립패스로 자르기 */
  clip-path: polygon(0 100%,  50% 0%,  100% 100%);
}
/* 서브메뉴 오버시 글자색 */
.smenu li:hover a{
  color: red;
}
/* 서브메뉴 오버시 아이콘 */
.smenu li:hover a::after{
  content: '🥯';
  float: right;
}

/* 예매 */
.gnb ul>li:nth-child(2) .smenu li:hover a::after{
  content: '🥞';
}
/* 극장 */
.gnb ul>li:nth-child(3) .smenu li:hover a::after{
  content: '🍰';
}
/* 이벤트 */
.gnb ul>li:nth-child(4) .smenu li:hover a::after{
  content: '🍮';
}


/* 서브메뉴 ol */
.smenu ol{
  border: 1px solid #ccc;
  padding: 10px;
  white-space: nowrap;
}

/* 사이 구분선 클래스 */
.bd-top{
  border-top: 1px solid #ccc;
}

/* 영사기 박스 */
.cam{
  position: absolute;
  top: -14px;
  right: -74px;
}
.cam img{
  width: 55px;
  transform: rotate(30deg);
/* 트랜지션 : 돌아올 때 지연 */
  transition: .3s .3s;
}
/* 오버시 영사기 이미지 회전 */
.gnb:hover .cam img{
  transform: rotate(0deg);
  /* 트랜지션 : 오버시 지연없음 */
  transition: .3s;
}


/* 오버시 빔박스 보이기 */
.gnb:hover .beam{
  width: 200px;
  /* 트랜지션 : 오버시 지연 */
  transition: width .3s .3s;
  animation: beam-ani .1s linear infinite alternate;
}
/* 빔떨림 애니 */
@keyframes beam-ani{
    to{
      opacity: .5;
    } 
  }
/* 빔 박스 */
.beam{
  position: absolute;
  top: -14px;
  right: 30px;
  width: 0px;
  height: 70px;
  /* outline: 2px dashed yellow; */
  background: url(../images/bim.png) no-repeat right/auto 100%;
  /* 메뉴, 카메라 보다 아래 */
  z-index: -1;
  /* 트랜지션 : 돌아올 때 지연없음 */
  transition: width .3s;
 
  
}

/*  가상요소로 스크린 만들기 */
.cam::after{
  content: '';
  position: absolute;
  width: 150px;
  height: 70px;
  top: -13px;
  right: 150px;
  background:  url(../images/cgj_mv.gif) no-repeat -50%  center/auto 80%;
  z-index: -2;
  opacity: 0;
  transition: opacity .3s;
}
/* 오버시 스크린 보이기 */
.gnb:hover .cam::after{
  opacity: 1;
  transition: opacity .3s .6s;
}

/********************************************* 2. 메인영역 *********************************************/
.main-area {
  position: relative;
  /* 부모자격 - .screen */
  /* 높이값 주기말고 비율박스 만들기 */
  aspect-ratio: 1200 / 788;
  /* 극장이미지 배경 */
  background: url(../images/bg.jpg) no-repeat center/cover;
}

/* 2-1. 스크린 */
.screen {
  position: absolute;
  /* 부모는 .main-area */
  /* 부모박스를 비율로 줬기 때문에 자식도 전부 %로 줘야함 */
  top: 17.2%;
  left: 21.3%;
  width: 59%;
  height: 50.5%;
  background-color: black;
}
/* 유튜브 아이프레임 */
.screen iframe#ifr {
  width: 100%;
  height: 100%;
  /* 기본프레임보더 없앰 */
  border: none;
}
/* 2-2. 포스터 메뉴 */
.poster-menu {
  position: absolute;
  /* 부모는 .main-area */
  /* 한번에 메인영역 하단으로 위치이동 포지셔닝을 하기 위한 최적의 포시션은 absolute다 */
  width: 70%;
  bottom: 5%;
  left: 50%;
  /* 가로 방향 중앙이동 */
  transform: translateX(-50%);
}
/* 포스터 ul  가상요소 clear
.poster-menu ul::after{
  content: '';
  display: block;
  clear: both;
}*/

/* 포스터 리스트 */
.poster-menu ul {
  /* 원근설정 : 하위 li에 적용 */
  perspective: 100vh;
  display: flex;
  /* 하위 요소 사이 간격 */
  gap: 0 15px;
}
/* 상위 ul>li 리스트 */
.poster-menu > ul > li {
  /* 트랜지션 */
  transition: .3s ease-in-out;
  /* 기본 회전축 하단 변경 */
  transform-origin: bottom;
  /* x축 회전 */
  transform: rotateX(40deg);
  position: relative;
  /* 부모자격: 영화정보박스 */
  overflow: hidden;
  /* 자식요소의 영화정보박스 숨기기 */
}

/* li에 오버시 이미지 일어나기 + .on줄때 일어나기*/
.poster-menu > ul > li.on,
.poster-menu > ul > li:hover {
  /* x축 회전 */
  transform: rotateX(0deg);
  /* 오버요소 항상 위 */
  z-index: 1;
  /* 아웃라인 */
  outline: 1px solid aqua;
  
}

/* 포스터 이미지 */
.poster-menu img {
  width: 100%;
}
/*  영화정보박스 : 오버시 올라올 박스 */
.mv-info {
  position: absolute;
  top: 100%; /* 아래쪽에 나가 있음 */
  /* 부모는 .poster-menu>ul>li */
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  transition: 0.4s ease-in-out;
}
/* 부모 li에 오버시 영화 정보박스 올라오기 */
.poster-menu > ul > li:hover .mv-info {
  top: 0;
}
/* 영화정보박스 하위 ol */
.mv-info ol {
  /* 플렉스 박스 -> 옆으로 흘러가지 않아도 구성요소의 흐름을 제어할 목적으로 줌 */
  display: flex;
  /* 플렉스 진행방향 */
  flex-direction: column;
  /* 진행방향 정렬 */
  justify-content: center;
  /* 높이값을 지정해줘야 진행방향정렬이 가능(부모박스 채우기) */
  height: 100%;
  /* 줄바꿈방지 */
  white-space: nowrap;
  font-family: 'Cute Font', cursive;
  /* 글자크기 */
  font-size: min(15px,1.4vw);
  /* 줄간격 */
  line-height: 2.5;
  background-color: #00000092;
}
/* 영화 정보 제목만 글자변경 */
.mv-info ol li:first-child{
  color: aqua;
  
  font-size: min(17px,1.5vw);

}
/********************************************* 3. 하단영역 *********************************************/
.footer-area {
  /* 플렉스 박스 */
  display: flex;
  /* 진행방향 수직정렬(한줄) */
  align-items: center;
  padding: 20px;
  gap: 0 20px;
}


/* 3-1. 하단로고 */

/* 3-2. 회사정보 */
.co-info address{
  font-family: 'cute font';
  color: #fff;
  /* 이탤릭체 해제 */
  font-style: normal;
  line-height: 2;
  font-size: 1.7rem;
}
/* 3-3. sns */
.sns-box{
  /* 플렉스 자식에서 왼쪽마진을 auto로 주면 오른쪽 끝으로 이동함 */
  margin-left: auto;
}
.sns-box ol{
  /* 플렉스 박스 */
  display: flex;
  gap: 0 30px;


}
.sns-box a{
  color: #fff;
  font-size: 4rem;
}
